{% extends 'doc_templates/doc_base.html' %}

{% block doc_title %}Home{% endblock doc_title %}
<!-- This is just for testing purpose. -->
{% block doc_content %}

<div class="jumbotron">
    <h1 class="display-4">Home</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
   
  </div>

{% endblock doc_content %}